<div class='form-group'>
  <div class='col-sm-8'>
    <label for='<%= trait.name %>' class='col-sm-8 control-label'><%= trait.name %></label>
  </div>
  <div class='col-sm-8'>
    dots with boxes under them
  </div>
</div>
